


.my-block .card-text{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .5px;
}

.my-block .card{
    box-shadow: 1px 2px 4px #d9d9d9;
}

.my-block .card:hover{
    box-shadow: 1px 5px 20px #d0d0d0;
    -webkit-transition:  box-shadow .5s ease-in;
}


.my-block .fs-50{
    font-size: 40px !important;
}


.my-block i{
    border: none !important;
}

.blue{
    background-color: #61dafb;
}

.my-block img{
    width: 50px;
    height: 50px;
}
